body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 40px;
    color:rgb(15, 15, 15) ;
}
h2{
    font-size: 35px;
    color: rgb(15,15,15,);
}
p{
    color: rgb(43, 43, 43);
}
.orange-colar{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img {
    width: 100%;
}
.background-top{
    background-image: url("images/tb1.png");
    background-repeat: no-repeat;
}
.background-mid{
    background-image: url("images/d1.png");
    background-repeat: no-repeat;
    background-position: right;
    

}
.Experiences{
    background-image: url(images/ex1.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.link-button{
    text-decoration:none ;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon,tomato );
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 150px;
    
}
.box-shadow{
    box-shadow: 10px 15px 40px grey;
    border-radius: 4px;
    height: 70%;
}
#Full-Stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    background-color: white;

}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
.footer{
    text-align: center;

}